## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [2]:
import pandas as pd

In [3]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [8]:
gender_counts = data['sex'].value_counts()
print(gender_counts)

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [12]:
print(f"Средний возраст мужчин: {data[data['sex'] == 'Male']['age'].mean():.2f}")

Средний возраст мужчин: 39.43

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [20]:
total_count = len(data)
usa_count = len(data[data['native-country'] == 'United-States'])
print(f"Доля граждан США в датасете: {usa_count / total_count:.3f}")

Доля граждан США в датасете: 0.896

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [28]:
age_stats = data.groupby('salary')['age'].agg(['mean', 'std'])
print(age_stats)

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [31]:
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
high_salary_education = data[data['salary'] == '>50K']['education']
non_higher_education_count = high_salary_education[~high_salary_education.isin(higher_education)].count()

if non_higher_education_count == 0:
    print("Да, все люди, которые зарабатывают больше 50K, имеют минимум высшее образование.")
else:
    print(f"Нет, есть {non_higher_education_count} человек(а), которые зарабатывают больше 50K и не имеют высшего образования.")

Нет, есть 3306 человек(а), которые зарабатывают больше 50K и не имеют высшего образования.

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [38]:
race_sex_age_stats = data.groupby(['race', 'sex'])['age'].describe()
print(race_sex_age_stats)

print(f"Максимальный возраст мужчин расы Asian-Pac-Islander: {race_sex_age_stats.loc[('Asian-Pac-Islander', 'Male'), 'max'] }")

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
Максимальный возраст мужчин расы Asian-Pac-Islander: 90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [46]:
married_status = data['marital-status'].str.startswith('Married')
men_df = data[(data['sex'] == 'Male')]

married_status_men = men_df['marital-status'].str.startswith('Married')

married_men_df = men_df[married_status_men]
single_men_df = men_df[~married_status_men]

married_men_high_salary_share = len(married_men_df[(married_men_df['salary'] == '>50K')]) / len(married_men_df)
single_men_high_salary_share = len(single_men_df[(single_men_df['salary'] == '>50K')]) / len(single_men_df)

print(f"Доля женатых мужчин, зарабатывающих больше 50K: {married_men_high_salary_share*100:.2f} %")
print(f"Доля холостых мужчин, зарабатывающих больше 50K: {single_men_high_salary_share*100:.2f} %")


if married_men_high_salary_share > single_men_high_salary_share:
    print("Среди женатых мужчин больше доля зарабатывающих больше 50K.")
else:
    print("Среди холостых мужчин больше доля зарабатывающих больше 50K.")

Доля женатых мужчин, зарабатывающих больше 50K: 44.05 %
Доля холостых мужчин, зарабатывающих больше 50K: 8.45 %
Среди женатых мужчин больше доля зарабатывающих больше 50K.

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [53]:
max_hours_per_week = data['hours-per-week'].max()

num_people_max_hours = data[data['hours-per-week'] == max_hours_per_week].shape[0]
num_high_salary_max_hours = (data[data['hours-per-week'] == max_hours_per_week]['salary'] == '>50K').sum()
percentage_high_salary_max_hours = (num_high_salary_max_hours / num_people_max_hours) * 100

print(f"Максимальное количество часов в неделю: {max_hours_per_week}")
print(f"Количество людей, работающих {max_hours_per_week} часов в неделю: {num_people_max_hours}")
print(f"Процент людей, работающих {max_hours_per_week} часов в неделю и зарабатывающих больше 50K: {percentage_high_salary_max_hours:.2f}%")

Максимальное количество часов в неделю: 99
Количество людей, работающих 99 часов в неделю: 85
Процент людей, работающих 99 часов в неделю и зарабатывающих больше 50K: 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [56]:
average_hours_per_week = data.groupby(['native-country', 'salary'])['hours-per-week'].mean().unstack()

print(average_hours_per_week)

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [62]:
bins = [16, 35, 70, 100]
labels = ['young', 'adult', 'retiree'] 

data['AgeGroup'] = pd.cut(data['age'], bins=bins, labels=labels, right=False)

print(data[['age', 'AgeGroup']].head(40))

    age AgeGroup
0    39    adult
1    50    adult
2    38    adult
3    53    adult
4    28    young
5    37    adult
6    49    adult
7    52    adult
8    31    young
9    42    adult
10   37    adult
11   30    young
12   23    young
13   32    young
14   40    adult
15   34    young
16   25    young
17   32    young
18   38    adult
19   43    adult
20   40    adult
21   54    adult
22   35    adult
23   43    adult
24   59    adult
25   56    adult
26   19    young
27   54    adult
28   39    adult
29   49    adult
30   23    young
31   20    young
32   45    adult
33   30    young
34   22    young
35   48    adult
36   21    young
37   19    young
38   31    young
39   48    adult

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [13]:
# your code

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [14]:
# your code